@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

ion-img{
    width: 50%;
    margin: 0 auto;
}

ion-card-title{
    font-family: 'Baloo Bhai', cursive;
}

table tr td{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

ion-content{
  background-image: url('/assets/old-books-7.jpg');
}
