<ion-header>
  <ion-toolbar color="hijau">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="login">
  <div class="logo">
    <img class="animated fadeInUp" src="assets/images/perpus.png" alt="">
    <h2 class="animated fadeIn">LOGIN</h2>
  </div>
  <ion-item>
    <ion-label floating></ion-label>
    <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating></ion-label>
    <ion-input type="password" [(ngModel)]="pass" placeholder="Password"></ion-input>
  </ion-item>
  <ion-button (click)="login()">
    Login
  </ion-button>
  <button type="button" ion-button class="btnReg" (click)="registrasi()">Tidak punya akun? Jangan Khawatir</button>
</ion-content>
