@import url('https://fonts.googleapis.com/css?family=Ranga&display=swap');

ion-content {
    --ion-background-color: #529C07;

}

.login{
  background-image: url('/assets/old-books-7.jpg');
}

.logo{
    text-align: center;
    padding-top: 8%;
    img{
        width: 90%;
    }

    h2{
        font-family: 'Ranga', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 45px;
        font-weight: normal;
        text-align: center;
        color: #CFEAB3;
        padding: 10px 0;
        margin: 0;
    }
}

ion-button{
  background: #3880ff;
  width: 100%;
  height: auto !important;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 15px;
  font-size: 20px;
  --box-shadow: none;
}

button.btnReg{
  background: transparent;
  box-shadow: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
  font-weight: normal;
}
