<ion-header>
  <ion-toolbar color="hijau">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="buku"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Buku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <h1>Data Buku Baru</h1>
      <ion-item style="display: none;">
        <ion-input type="hidden" [(ngModel)]="id"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Kode Buku</ion-label>
        <ion-input type="text" [(ngModel)]="kode"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Judul</ion-label>
        <ion-input type="text" [(ngModel)]="judul"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Pengarang</ion-label>
        <ion-select [(ngModel)]="kdpeng" [interfaceOptions]="customAlertOptions" interface="action-sheet" okText="Pilih" cancelText="Batal" placeholder="Pilih Pengarang" [compareWith]="compareWithFn">
          <ion-select-option *ngFor="let dtpeng of pengarang" value="{{dtpeng.kd_pengarang}}">{{dtpeng.nama_pengarang}}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Penerbit</ion-label>
        <ion-select [(ngModel)]="kdpen" [interfaceOptions]="customAlertOptions" interface="action-sheet" okText="Pilih" cancelText="Batal" placeholder="Pilih Penerbit" [compareWith]="compareWithFn">
          <ion-select-option *ngFor="let dtpen of penerbit" value="{{dtpen.kd_penerbit}}">{{dtpen.nama_penerbit}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Kategori</ion-label>
        <ion-select [(ngModel)]="kdkategori" [interfaceOptions]="customAlertOptions" interface="action-sheet" okText="Pilih" cancelText="Batal" placeholder="Pilih Kategori" [compareWith]="compareWithFn">
          <ion-select-option *ngFor="let dtpen of kategori" value="{{dtpen.kd_kategori}}">{{dtpen.nama_kategori}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Halaman</ion-label>
        <ion-input type="text" [(ngModel)]="hal"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Edisi</ion-label>
        <ion-input type="text" [(ngModel)]="edisi"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">ISBN</ion-label>
        <ion-input type="text" [(ngModel)]="isbn"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tempat</ion-label>
        <ion-input type="text" [(ngModel)]="tmpt"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Tahun Terbit</ion-label>
        <ion-input type="text" [(ngModel)]="thn"></ion-input>
      </ion-item>

      <ion-item>
        <input #gambarBuku style="display:none;" type="file" accept="image/*" [(ngModel)]="cover" (change)="getImage($event)">
      </ion-item>
      <ion-input type="text" [hidden]="!newTrustFormVisible" [(ngModel)]="old-foto"></ion-input>
      <p>Cover Buku</p>
      <img [src]="img1" (click)="gambarBuku.click()"/>

      <br/>
      <ion-button color="primary" size="small" (click)="simpan()">
        Simpan
      </ion-button>
  </ion-list>
</ion-content>
