<ion-header>
  <ion-toolbar color="hijau">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-slides>
      <ion-slide>
        <ion-img src="/assets/books-1.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="/assets/books-2.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="/assets/books-3.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="/assets/books-4.jpg"></ion-img>
      </ion-slide>
    </ion-slides>

    <ion-card-header>
        <ion-card-title>Perpustakaan Umum</ion-card-title>
      <ion-card-subtitle>Selamat  Datang</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Perpustakaan yang berisi segala jenis dan judul buku dari seluruh dunia, gunakanlah dengan bijak.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Recents</ion-label>
    </ion-list-header>
    <ion-item href="../buku/buku.page.html">
      <ion-icon slot="start" color="primary" name="book"></ion-icon>
      <ion-label>Belajar Membaca</ion-label>
    </ion-item>
    <ion-item href="../buku/buku.page.html">
      <ion-icon slot="start" color="medium" name="bookmarks"></ion-icon>
      <ion-label>Belajar Menjadi Wibu</ion-label>
    </ion-item>
    <ion-item href="../buku/buku.page.html">
      <ion-icon slot="start" color="medium" name="bookmarks"></ion-icon>
      <ion-label>Cara Cepat Menghafal Al-Quran</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
